<html lang="en" xmlns:th="http://www.thymeleaf.org">
<div th:fragment="firebase">
    <!-- Firebase App (the core Firebase SDK) is always required and must be listed first -->
    <script src="https://www.gstatic.com/firebasejs/8.1.1/firebase-app.js"></script>

    <!-- Add Firebase products that you want to use -->
    <script src="https://www.gstatic.com/firebasejs/8.1.1/firebase-analytics.js"></script>

    <!-- Firebase configuration for Stara in external JS -->
    <script th:src="@{/js/staraFirebase.js}"></script>
</div>
</html>
