<html lang="en" xmlns:th="http://www.thymeleaf.org">
<div th:fragment="navbar">
    <nav class="navbar navbar-expand-lg navbar-dark">
        <a class="navbar-brand" data-intro="⭐ Welcome to Stara. Click the skip button to skip this tour, otherwise click next to continue!" data-step="1">Stara</a>
        <div class="collapse navbar-collapse" id="navbarNavDropdown">
            <ul class="navbar-nav">
                <li class="nav-item active" data-intro="Click this link to view your country's tv premieres for today." data-step="2">
                    <a class="nav-link" href="/">Schedule <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item" data-intro="Click this link to view your favorites. If you are not logged in, you will be prompted to." data-step="3">
                    <a class="nav-link" href="/favorites">Favorites</a>
                </li>
            </ul>
        </div>

        <button class="btn btn-info mr-sm-2 my-2 my-sm-0" id="btnTour" data-intro="Click this button view this tour again. Enjoy using Stara! 😊" data-step="5">
            Tour
        </button>

        <!-- Login button displayed if user is NOT logged in -->
        <!--/*@thymesVar id="uid" type="String"*/-->
        <form class="form-inline" th:action="@{/favorites}" th:if="${uid == null}" method="GET">
            <button class="btn btn-secondary mr-sm-2 my-2 my-sm-0" type="submit" >Login</button>
        </form>

        <!-- Logout button displayed if user is logged in -->
        <!--/*@thymesVar id="uid" type="String"*/-->
        <form class="form-inline" th:action="@{/unset-uid}" th:unless="${uid == null}" method="GET">
            <button class="btn btn-secondary mr-sm-2 my-2 my-sm-0" type="submit" >Logout</button>
        </form>

        <form class="form-inline" th:action="@{/search}" method="GET" data-intro="Search for your favorite actors or tv shows by entering their name here." data-step="4">
            <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search"  name="searchTerm" id="searchTerm">
            <button class="btn btn-primary my-2 my-sm-0" type="submit">Search</button>
        </form>
    </nav>
</div>
</html>
