body {
    background-color: #2B4154;
    color: #F2F2F2;
}

nav {
    background-color: #3C8541;
    color: #F2F2F2;
}

.list-group-item {
    background-color: #CEC1B1;
    color: #1F1F1F;
    margin-bottom: 10px;
}

/* Sign in button from Firebase UI */
.mdl-button--raised.mdl-button--colored {
    background-color: #CE6038 !important;
}

/* Bootstrap CSS selectors for a nav link in a dark navbar that is NOT active */
.navbar-dark .navbar-nav .nav-link {
    color: #1F1F1F;
}

/* Bootstrap CSS selectors for a nav link in a dark navbar that is active */
.navbar-dark .navbar-nav .active>.nav-link, .navbar-dark .navbar-nav .nav-link.active, .navbar-dark .navbar-nav .nav-link.show, .navbar-dark .navbar-nav .show>.nav-link {
    color: #F2F2F2;
}

.staraThumbnail {
    height: 180px;
    width: 128px;
}

a.remove-link-styling {
    text-decoration: none;
    color: inherit;
}

#banner-ad {
    width: 300px;
    height: 250px;
}

#btnSearch {
    background-color: #CE6038;
    border-color: #CE6038;
    color: #E6E6E6;
}

#btnSearch:focus {
    background-color: #B4512D;
    border-color: #A74B2A;
    box-shadow: 0 0 0 0.2rem rgba(213, 121, 88, .5);
}

#coffee-ad {
    border: 0;
    height: 600px;
    width: 300px;
}
