<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Favorites - Stara</title>

    <!-- Required meta tags -->
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous"/>

    <!-- Stara CSS -->
    <link rel="stylesheet" th:href="@{/css/main.css}"/>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>

    <!-- JavaScript & CSS for Feature Tour -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/intro.js/3.0.1/intro.min.js" integrity="sha512-Y3bwrs/uUQhiNsD26Mpr5YvfG18EY0J+aNxYI7ZQPJlM9H+lElGpuh/JURVJR/NBE+p1JZ+sVE773Un4zQcagg==" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/intro.js/3.0.1/introjs.min.css" integrity="sha512-fsq7ym+bMq7ecs277R2a3QDPxF+JIwNNnkPfj9rIKDUyqrbXDnICZj/cCLcP3bKh3+jsCBnBR7BZJShOmELL0Q==" crossorigin="anonymous" />
    <script th:src="@{/js/staraTour.js}"></script>
    <link rel="stylesheet" th:href="@{/css/introjs-stara.css}"/>

    <!-- JavaScript for Ads -->
    <script async src="https://securepubads.g.doubleclick.net/tag/js/gpt.js"></script>
    <script th:src="@{/ads/test.js}"></script>
</head>
<body>
<div th:replace="fragments/topnav :: navbar"></div>

<div class="container-fluid">
    <div class="row mt-2">
        <main class="col-8">
            <h1 class="mb-2">Favorites for <span th:text="${displayName}"></span></h1>
            <div class="list-group" role="list">
                <div class="list-group-item" th:each="favorite : ${favorites}" role="listitem">
                    <div class="row">
                        <div class="col-sm-5 col-lg-3">
                            <img class="staraThumbnail" th:src="${favorite.image}" th:alt="${favorite.name}"/>
                        </div>

                        <div class="col-sm-7 col-lg-9">
                            <div class="row">
                                <div class="col-sm-8">
                                    <a th:href="${favorite.url}" th:text="${favorite.name}"></a>
                                </div>

                                <div class="col-sm-4">
                                    <form class="d-sm-inline-block" method="post" action="/favorites/delete">
                                        <input type="hidden" name="favoriteId" th:value="${favorite.id}"/>
                                        <button class="staraFavoriteBtnRemove" type="submit">&#9733;</button>
                                    </form>
                                </div>
                            </div>

                            <div class="row align-items-end staraBottomRow">
                                <div class="col-sm-8">
                                    <span th:text="${favorite.subtitle}"></span>
                                </div>
                                <div class="col-sm-4">
                                    <span th:text="${favorite.detail}"></span>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="mt-4 review">
                        <form class="form-inline" method="post" action="/reviews/update">
                            <label>
                                New Rating:
                                <input class="form-control mx-sm-2" type="number" name="newRating" min="1" max="5" placeholder="1-5"/>
                            </label>
                            <input type="hidden" name="favoriteId" th:value="${favorite.id}"/>
                            <input type="hidden" name="favoriteName" th:value="${favorite.name}"/>
                            <button class="btn btn-primary" type="submit">Submit New Rating</button>
                        </form>

                        <!-- Only show if there is a review to show -->
                        <div class="mt-2" th:unless="${reviews.get(favorite.id) == null}">
                            Current Rating:
                            <!-- Only show if the rating is not 0 -->
                            <span th:unless="${reviews.get(favorite.id).rating == 0}">
                                <!-- Number of smiles equals rating number -->
                                <span class="staraRating" th:each="i : ${#numbers.sequence(1, reviews.get(favorite.id).rating)}">&#9786;</span>
                            </span>
                            <br/>

                            <form class="mt-2" method="post" action="/reviews/delete">
                                <input type="hidden" name="favoriteId" th:value="${favorite.id}"/>
                                <button class="btn btn-danger" type="submit">Delete Rating</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </main>

        <aside class="col-sm-4">
            <div th:replace="fragments/ads :: ads"></div>
        </aside>
    </div>
</div>

<!-- Load Firebase initialization & analytics scripts -->
<div th:replace="fragments/firebase :: firebase"></div>

</body>
</html>
