<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Login - Stara</title>

    <!-- Required meta tags -->
    <meta charset="utf-8"/>
    <meta content="width=device-width, initial-scale=1, shrink-to-fit=no" name="viewport"/>

    <!-- Bootstrap CSS -->
    <link crossorigin="anonymous" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
          integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" rel="stylesheet"/>

    <!-- Stara CSS -->
    <link rel="stylesheet" th:href="@{/css/main.css}"/>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script crossorigin="anonymous"
            integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
            src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script crossorigin="anonymous"
            integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN"
            src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"></script>
    <script crossorigin="anonymous"
            integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV"
            src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

    <!-- JavaScript & CSS for Feature Tour -->
    <script crossorigin="anonymous"
            integrity="sha512-Y3bwrs/uUQhiNsD26Mpr5YvfG18EY0J+aNxYI7ZQPJlM9H+lElGpuh/JURVJR/NBE+p1JZ+sVE773Un4zQcagg=="
            src="https://cdnjs.cloudflare.com/ajax/libs/intro.js/3.0.1/intro.min.js"></script>
    <link crossorigin="anonymous" href="https://cdnjs.cloudflare.com/ajax/libs/intro.js/3.0.1/introjs.min.css"
          integrity="sha512-fsq7ym+bMq7ecs277R2a3QDPxF+JIwNNnkPfj9rIKDUyqrbXDnICZj/cCLcP3bKh3+jsCBnBR7BZJShOmELL0Q=="
          rel="stylesheet"/>
    <script th:src="@{/js/staraTour.js}"></script>
    <link rel="stylesheet" th:href="@{/css/introjs-stara.css}"/>

    <!-- Firebase UI - CSS & JS - https://firebase.google.com/docs/auth/web/firebaseui -->
    <script src="https://www.gstatic.com/firebasejs/ui/4.7.1/firebase-ui-auth.js"></script>
    <link href="https://www.gstatic.com/firebasejs/ui/4.7.1/firebase-ui-auth.css" rel="stylesheet" type="text/css"/>
</head>
<body>
<div th:replace="fragments/topnav :: navbar"></div>

<main class="mt-2">
    <h1 class="ml-3 mb-2">Sign In</h1>

    <!-- Handled by staraFirebaseUI.js -->
    <div id="firebaseui-auth-container"></div>
    <div id="loader">Loading...</div>
</main>
<!-- Load Firebase initialization & analytics scripts -->
<div th:replace="fragments/firebase :: firebase"></div>

<!-- Load Firebase Auth & Firestore scripts -->
<script src="https://www.gstatic.com/firebasejs/8.1.1/firebase-auth.js"></script>
<script src="https://www.gstatic.com/firebasejs/8.1.1/firebase-firestore.js"></script>

<!-- Firebase UI configuration -->
<script th:src="@{/js/staraFirebaseUI.js}"></script>

</body>
</html>
