<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous"/>

    <!-- Stara CSS -->
    <link rel="stylesheet" th:href="@{/css/main.css}"/>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>

    <!-- JavaScript for Ads -->
    <script async src="https://securepubads.g.doubleclick.net/tag/js/gpt.js"></script>
    <script th:src="@{/ads/test.js}"></script>

    <title>Stara Enterprise</title>
</head>
<body>
<div th:replace="fragments/topnav :: navbar"></div>
<h1>Stara Enterprise</h1>
<h2>Today's TV Premieres for <span th:text="${countryName}"></span></h2>

<div class="container-fluid">
    <div class="row">
        <main class="col-8">
            <div class="list-group" role="list">
                <div class="list-group-item list-group-item-action" th:each="scheduleFeedItem : ${scheduleFeed}" role="listitem">
                    <a th:href="${scheduleFeedItem.url}" class="media remove-link-styling">
                        <img th:src="${scheduleFeedItem.show.image.medium}" class="mr-3" th:alt="${scheduleFeedItem.show.name}" width="128px"/>
                        <div class="media-body">
                            <h5 class="mt-0 mb-1" th:text="${scheduleFeedItem.show.name}"></h5>
                            <p th:text="${scheduleFeedItem.episodeName}"></p>
                            <p th:text="${scheduleFeedItem.airtime}"></p>
                            <!--Below line to be removed before final presentation.-->
                            <small th:text="${scheduleFeedItem}"></small>
                        </div>
                    </a>
                </div>
            </div>
        </main>

        <aside class="col-4">
            <div th:replace="fragments/ads :: ads"></div>
        </aside>
    </div>
</div>

</body>
</html>
