<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous"/>

    <!-- Stara CSS -->
    <link rel="stylesheet" th:href="@{/css/main.css}"/>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>

    <title>Stara Enterprise</title>
</head>
<body>
<div th:replace="fragments/topnav :: navbar"></div>
<h1>Stara Enterprise</h1>
    <br>
<h2>Your search results:</h2>
<br>
    <br>
<h3>Show results:</h3>
<div class="list-group" role="list">
    <div class="list-group-item list-group-item-action" th:each="showFeed : ${showFeedList}" role="listitem">
        <a th:href="${showFeed.show.url}" class="media remove-link-styling">
            <img th:src="${showFeed.show.image.medium}" class="mr-3" th:alt="${showFeed.show.name}" width="128px"/>
            <div class="media-body">
                <h5 class="mt-0 mb-1" th:text="${showFeed.show.name}"></h5>
                <p th:text="${showFeed.show.status}"></p>
                <p th:text="${showFeed.show.language}"></p>
                <!--Below line to be removed before final presentation.-->
                <small th:text="${showFeed.show}"></small>
            </div>
        </a>
    </div>
</div>

<br/>
<hr/>
<br/>

<h3>Actor results:</h3>
<div class="list-group" role="list">
    <div class="list-group-item list-group-item-action" th:each="actorFeed : ${actorFeedList}" role="listitem">
        <a th:href="${actorFeed.actor.url}" class="media remove-link-styling">
            <img th:src="${actorFeed.actor.image.medium}" class="mr-3" th:alt="${actorFeed.actor.name}" width="128px"/>
            <div class="media-body">
                <h5 class="mt-0 mb-1" th:text="${actorFeed.actor.name}"></h5>
                <p th:text="${actorFeed.actor.gender}"></p>
                <p th:text="${actorFeed.actor.country}"></p>
                <!--Below line to be removed before final presentation.-->
                <small th:text="${actorFeed.actor}"></small>
            </div>
        </a>
    </div>
</div>

</body>
</html>
