<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Search - Stara</title>

    <!-- Required meta tags -->
    <meta charset="utf-8"/>
    <meta content="width=device-width, initial-scale=1, shrink-to-fit=no" name="viewport"/>

    <!-- Bootstrap CSS -->
    <link crossorigin="anonymous" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
          integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" rel="stylesheet"/>

    <!-- Stara CSS -->
    <link rel="stylesheet" th:href="@{/css/main.css}"/>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script crossorigin="anonymous"
            integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
            src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script crossorigin="anonymous"
            integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN"
            src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"></script>
    <script crossorigin="anonymous"
            integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV"
            src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

    <!-- JavaScript & CSS for Feature Tour -->
    <script crossorigin="anonymous"
            integrity="sha512-Y3bwrs/uUQhiNsD26Mpr5YvfG18EY0J+aNxYI7ZQPJlM9H+lElGpuh/JURVJR/NBE+p1JZ+sVE773Un4zQcagg=="
            src="https://cdnjs.cloudflare.com/ajax/libs/intro.js/3.0.1/intro.min.js"></script>
    <link crossorigin="anonymous" href="https://cdnjs.cloudflare.com/ajax/libs/intro.js/3.0.1/introjs.min.css"
          integrity="sha512-fsq7ym+bMq7ecs277R2a3QDPxF+JIwNNnkPfj9rIKDUyqrbXDnICZj/cCLcP3bKh3+jsCBnBR7BZJShOmELL0Q=="
          rel="stylesheet"/>
    <script th:src="@{/js/staraTour.js}"></script>
    <link rel="stylesheet" th:href="@{/css/introjs-stara.css}"/>

    <!-- JavaScript for Ads -->
    <script async src="https://securepubads.g.doubleclick.net/tag/js/gpt.js"></script>
    <script th:src="@{/ads/test.js}"></script>
</head>
<body>
<div th:replace="fragments/topnav :: navbar"></div>

<div class="container-fluid">
    <div class="row">
        <main class="col-sm-8">
            <h1 class="mb-2">Your search results:</h1>

            <h3>Show results:</h3>
            <div class="list-group" role="list">
                <div class="list-group-item" role="listitem" th:each="showFeedItem : ${showFeed}">
                    <div class="row">
                        <div class="col-sm-5 col-lg-3">
                            <img class="staraThumbnail" th:alt="${showFeedItem.show.name}"
                                 th:src="${showFeedItem.show.image.medium}"/>
                        </div>

                        <div class="col-sm-7 col-lg-9">
                            <div class="row">
                                <div class="col-sm-8">
                                    <a th:href="${showFeedItem.show.url}" th:text="${showFeedItem.show.name}"></a>
                                </div>

                                <div class="col-sm-4">
                                    <form action="/favorites/save/show" class="d-sm-inline-block" method="post">
                                        <input name="id" th:value="${showFeedItem.show.id}" type="hidden"/>
                                        <input name="url" th:value="${showFeedItem.show.url}" type="hidden"/>
                                        <input name="name" th:value="${showFeedItem.show.name}" type="hidden"/>
                                        <input name="language" th:value="${showFeedItem.show.language}" type="hidden"/>
                                        <input name="status" th:value="${showFeedItem.show.status}" type="hidden"/>
                                        <input name="image" th:value="${showFeedItem.show.image.medium}" type="hidden"/>
                                        <button class="staraFavoriteBtnAdd" type="submit">&#9733;</button>
                                    </form>
                                </div>
                            </div>

                            <div class="row align-items-end staraBottomRow">
                                <div class="col-sm-8">
                                    <span th:text="${showFeedItem.show.language}"></span>
                                </div>
                                <div class="col-sm-4">
                                    <span th:text="${showFeedItem.show.status}"></span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <hr class="my-sm-2"/>

            <h3>Actor results:</h3>
            <div class="list-group" role="list">
                <div class="list-group-item" role="listitem" th:each="actorFeedItem : ${actorFeed}">
                    <div class="row">
                        <div class="col-sm-5 col-lg-3">
                            <img class="staraThumbnail" th:alt="${actorFeedItem.actor.name}"
                                 th:src="${actorFeedItem.actor.image.medium}"/>
                        </div>

                        <div class="col-sm-7 col-lg-9 mb-sm-2">
                            <div class="row">
                                <div class="col-sm-8">
                                    <a th:href="${actorFeedItem.actor.url}" th:text="${actorFeedItem.actor.name}"></a>
                                </div>

                                <div class="col-sm-4">
                                    <form action="/favorites/save/actor" class="d-sm-inline-block" method="post">
                                        <input name="id" th:value="${actorFeedItem.actor.id}" type="hidden"/>
                                        <input name="url" th:value="${actorFeedItem.actor.url}" type="hidden"/>
                                        <input name="name" th:value="${actorFeedItem.actor.name}" type="hidden"/>
                                        <input name="country" th:value="${actorFeedItem.actor.country}" type="hidden"/>
                                        <input name="gender" th:value="${actorFeedItem.actor.gender}" type="hidden"/>
                                        <input name="image" th:value="${actorFeedItem.actor.image.medium}"
                                               type="hidden"/>
                                        <button class="staraFavoriteBtnAdd" type="submit">&#9733;</button>
                                    </form>
                                </div>
                            </div>

                            <div class="row align-items-end staraBottomRow">
                                <div class="col-sm-8">
                                    <span th:text="${actorFeedItem.actor.gender}"></span>
                                </div>
                                <div class="col-sm-4">
                                    <span th:text="${actorFeedItem.actor.country}"></span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </main>

        <aside class="col-sm-4">
            <div th:replace="fragments/ads :: ads"></div>
        </aside>
    </div>
</div>

<!-- Load Firebase initialization & analytics scripts -->
<div th:replace="fragments/firebase :: firebase"></div>

</body>
</html>
